{{#partial "content"}}

    <div class="d-flex justify-content-around align-items-center">
        <form action="/non-endangered/new" method="post" class="border border-2 rounded m-3 p-3">
            <div class="text-center">
                <h1>Add Other Animals<br>(Non Endangerd Animals)</h1>
            </div>

            <div class="form-group">
                <label for="name">Animal Name</label>
                <input type="text" id="name" class="form-control" name="name">
            </div>

            <div class="form-group">
                <label for="type">Age</label>
                <select class="browser-default custom-select" id="age" name="age">
                    <option value="" selected>Select Age</option>
                    <option value="newborn">New born</option>
                    <option value="young">Young</option>
                    <option value="adult">Adult</option>
                </select>
            </div>

            <div class="form-group">
                <label for="type">Health</label>
                <select id="health" name="health" class="browser-default custom-select">
                    <option value="" selected>Select Health of Animal</option>
                    <option value="healthy">Healthy</option>
                    <option value="ill">Ill</option>
                    <option value="okay">Okay</option>
                </select>
            </div>

            <div class="m-2 p-2 d-flex justify-content-around align-content-center">
                <button type="submit" class="btn btn-lg btn-primary button-gradient">SUBMIT</button>
            </div>

        </form>
    </div>

{{/partial}}
{{> layout.hbs}}