div{
    overflow: hidden;
}

body{
    height:100%;
    width:100%;
}

@media (min-width: 768px){
.navbar {
    border-radius: 0px;
    }
}

th{
    text-align:center;
}

i{
    margin-right:3px;
    margin-left:3px;
}

body {
    position: relative;
    min-height: 100%;
}

.footer {
    position: relative;
    width: 100%;
}

.navbar-logo{
    height:50px;
    width:50px;
}

.home-intro{
    background-image: url(/images/jungle-king.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
}

.button-gradient{
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, red, yellow);
}

td{
    text-align:center;
}

.animal-list-holder{
    min-height:530px;
}