{{#partial "content"}}
<!--    <div class="container">-->
<!--        <div class="row container">-->
<!--            <div class="col-md-3"></div>-->
<!--            <div class="col-md-6">-->
<!--                &lt;!&ndash;Section: Live preview&ndash;&gt;-->
<!--                <div class="form-dark">-->

<!--                    &lt;!&ndash;Form without header&ndash;&gt;-->
<!--                    <div class="card card-image"-->
<!--                         style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg'); width: 28rem;">-->
<!--                        <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">-->

<!--                            &lt;!&ndash;Header&ndash;&gt;-->
<!--                            <div class="text-center">-->
<!--                                <h3 class="amber-text mb-5 mt-4 font-weight-bold"><strong>ENDANGERED</strong> <a-->
<!--                                        class="amber-text font-weight-bold"><strong> ANIMAL</strong></a></h3>-->
<!--                            </div>-->

<!--                            <br>-->

<!--                            &lt;!&ndash;Body&ndash;&gt;-->
<!--                            <form action="/endangered/new" method="post">-->

<!--                                    <label for="name">Animal Name</label>-->
<!--                                    <input type="text" id="name" class="form-control" name="name">-->

<!--                                <br>-->
<!--                                    <label for="type">Age</label>-->
<!--                                    <br>-->
<!--                                    <select class="browser-default custom-select" id="age" name="age">-->
<!--                                        <option selected>Select Age</option>-->
<!--                                        <option value="newborn">New born</option>-->
<!--                                        <option value="young">Young</option>-->
<!--                                        <option value="adult">Adult</option>-->
<!--                                    </select>-->

<!--                                <br>-->

<!--                                    <label for="type">Health</label>-->
<!--                                <br>-->
<!--                                    <select id="health" name="health" class="browser-default custom-select">-->
<!--                                        <option selected>Select Health of Animal</option>-->
<!--                                        <option value="healthy">Healthy</option>-->
<!--                                        <option value="ill">Ill</option>-->
<!--                                        <option value="okay">Okay</option>-->
<!--                                    </select>-->

<!--                                <br>-->
<!--                                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--                                <div class="row d-flex align-items-center mb-4">-->
<!--                                    <br>-->

<!--                                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                                    <div class="text-center mb-3 col-md-12">-->
<!--                                        <button type="submit" class="btn peach-gradient z-depth-1">SUBMIT</button>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash;Grid row&ndash;&gt;-->


<!--                            </form>-->
<!--                            &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;/Form without header&ndash;&gt;-->

<!--                </div>-->
<!--                &lt;!&ndash;Section: Live preview&ndash;&gt;-->

<!--            </div>-->
<!--            <div class="ol-md-3"></div>-->

<!--        </div>-->



<!--    </div>-->

    <div class="d-flex justify-content-around align-items-center">
            <form action="/endangered/new" method="post" class="border border-2 rounded m-3 p-3">

                <div class="form-group">
                    <label for="name">Animal Name</label>
                    <input type="text" id="name" class="form-control" name="name">
                </div>

                <div class="form-group">
                    <label for="type">Age</label>
                    <select class="browser-default custom-select" id="age" name="age">
                        <option selected>Select Age</option>
                        <option value="newborn">New born</option>
                        <option value="young">Young</option>
                        <option value="adult">Adult</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="type">Health</label>
                    <select id="health" name="health" class="browser-default custom-select">
                        <option selected>Select Health of Animal</option>
                        <option value="healthy">Healthy</option>
                        <option value="ill">Ill</option>
                        <option value="okay">Okay</option>
                    </select>
                </div>

                <div class="m-2 p-2 d-flex justify-content-around align-content-center">
                    <button type="submit" class="btn btn-lg button-gradient">SUBMIT</button>
                </div>

            </form>
        </div>


{{/partial}}
{{> layout.hbs}}