{{#partial "content"}}
    <div class="text-center">
        <div class="jumbotron bg-transparent text-white home-intro py-2">
            <h2 class="display-3">Wild-Ranger Tracker</h2>
            <h1>About</h1>
            <p class="lead ">In every walk in </p>
            <p class="lead ">with nature</p>
            <p class="lead ">one receives far more</p>
            <p class="lead ">than he seeks.</p>
            <p class="lead pl-4 ml-2">-John Muir</p>
            <br>
        </div>
    </div>
{{/partial}}


{{>layout.hbs}}